@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Sharpen</h1>
    <a class="btn btn-primary" asp-area="" asp-controller="Players" asp-action="Index">All-Time Player List</a>
    <a class="btn btn-primary" asp-area="" asp-controller="Home" asp-action="Main">Go To The Sharpen Questing Guild</a>
</div>

<img src="@Url.Content("~/images/Heroine04.png")" />
