@{
    ViewData["Title"] = "Main";
}

<h2>The main game page</h2>
<p>This is where the game happens.</p>
<form asp-controller="TriviaChallenge" asp-action="index">
    <input type="hidden" value="0" name="Xp" />
    <input type="submit" value="Start a Quest to Sharpen Your Skills!" class="btn btn-primary" />
</form>