@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2 class="display-6 mt-5">Ready To Sharpen Your Skills? <img src="@Url.Content("~/images/Heroine04.png")" class="hero-img" /></h2>
    <div class="row justify-content-center">
        <a class="btn btn-primary mt-5" asp-area="" asp-controller="Home" asp-action="Main">Go To The Sharpen Questing Guild</a>
    </div>
    <div class="row justify-content-center">
        <a class="btn btn-primary mt-5" asp-area="" asp-controller="Players" asp-action="Index">All-Time Player List</a>
    </div>


